html {
    font-family: 'IBM Plex Mono', monospace;
}
button {
    font-family: 'IBM Plex Mono', monospace;
}
a {
    color: rgb(60, 60, 224);
    cursor: grab;
}
button {
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: lightslategray;
    transition-duration: 0.4s;
}
button:hover {
    background-color: rgb(97, 110, 123);
    cursor: pointer;
}