html {
    font-family: 'IBM Plex Mono', monospace;
}
body {
    background-color:rgb(66, 65, 77);
    color:aliceblue
}
button {
    font-family: 'IBM Plex Mono', monospace;
}
a {
    color: rgb(60, 60, 224);
    cursor: grab;
}
button {
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: lightslategray;
    transition-duration: 0.4s;
    text-align: center;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(97, 110, 123);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#log{
    background-color:rgb(97, 110, 123);
    color:rgb(161, 169, 176)
}

.log{
    background-color:rgb(95, 94, 110)
}